@import url(https://fonts.googleapis.com/css?family=Muli&amp;display=swap);


html, body {
  background: darkgrey;
  padding: 0;
  margin: 0;
  height: 100%;
}

.space-scene {

  background: #152037;
  /* Old browsers */

  background: -moz-linear-gradient(top, #152037 0%, #222352 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #152037 0%, #222352 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #152037 0%, #222352 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#152037", endColorstr="#222352",GradientType=0 );
  /* IE6-9 */

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

@keyframes walking-anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5600px);
  }
}
@keyframes slow-rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.astronaut {
  width: 160px;
  height: 207px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 28.7804878049vw;
  transform: translateX(-50%);
}
@media only screen and (min-width: 640px) {
  .astronaut {
    bottom: 16.2601626016vw;
  }
}
.astronaut__walking-anim {
  animation: walking-anim 1.3s steps(35) infinite;
}

.planet {
  width: 300vw;
  height: 300vw;
  animation: slow-rotate 28s linear reverse infinite;
}
@media only screen and (min-width: 640px) {
  .planet {
    width: 100vw;
    height: 100vw;
  }
}

.planet-wrapper {
  position: absolute;
  left: 50%;
  bottom: -260vw;
  transform: translateX(-50%);
}
@media only screen and (min-width: 640px) {
  .planet-wrapper {
    bottom: -80vw;
  }
}

.cloud {
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0.95;

  animation: movingclouds 20s linear infinite;
	/* -moz-animation: movingclouds 20s linear infinite;
	-o-animation: movingclouds 20s linear infinite; */
}

@keyframes movingclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -50%;}
  to {margin-left:-100%;}
}

.cloud .circle {
  background: #1f275b;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
}

.cloud .circle:nth-child(2) {
  width: 130px;
  height: 130px;
  top: 50px;
  left: -70px;
}

.cloud .circle:nth-child(3) {
  width: 111px;
  height: 111px;
  top: 70px;
  left: 120px;
}

.bar {
  width: 180px;
  height: 50px;
  background: #1f275b;
  position: absolute;
  top: 130px;
}

.cloud1 {
  top: 50%;
  left: 20%;
}

.cloud2 {
  top: 10%;
  left: 25%;
  z-index: 1;
}

.cloud3 {
  top: 28%;
  left: 70%;
}

.cloud4 {
  top: 72%;
  left: 80%;
  z-index: 1;
}

.cloud5 {
  top: 50%;
  left: 20%;
  animation-delay: 10s;

}

.cloud6 {
  top: 10%;
  left: 25%;
  animation-delay: 10s;
  /* z-index: 2; */
}

.cloud7 {
  top: 28%;
  left: 70%;
  animation-delay: 10s;
}

.cloud8 {
  top: 72%;
  left: 80%;
  animation-delay: 10s;
}

.cloud2 .circle,
.cloud2 .bar,
.cloud4 .circle,
.cloud4 .bar,
.cloud8 .circle,
.cloud8 .bar,
.cloud6 .circle,
.cloud6 .bar {
  background-color: #c4c3c3;
}


/* Button  */
.pushable {
  z-index:100;
  position: relative;
  display: grid;
  margin: 30% auto 0;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  font-family: 'Muli';
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}


@media (min-width: 768px) {
  .pushable {
  margin: 180px auto 0;
  }
}